.card {
  width: 500px;
}

.card-figure {
  background-image: linear-gradient(rgba(0, 0, 0, 0.95), transparent 53%), linear-gradient(to top, rgba(0, 0, 0, 0.95), transparent 53%), url("/images/background.jpeg");
  background-size: cover;
  height: 350px;
  border-radius: 16px;
}

.card-figure-infos {
  position: absolute;
  margin-top: 260px;
  display: flex;
  color: white;
  width: 500px;
  padding: 0px 25px;
  font-size: 22px;
}

.title {
  padding-right: 140px;
}

.card-infos {
  display: flex;
  align-items: center;
}

.avatar {
  height: 30px;
  border-radius: 50%;
}

.figure-infos {
  margin-left: 220px;
}

.icon {
  background-color: gray;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  border-radius: 16px;
  height: 60px;
  margin-left: 8px;
}
