.card {
    margin-bottom: 30px;
}

.card-figure {
    background-image: url("../images/background.jpeg");
    width: 350px;
    height: 250px;
    background-size: cover;
    border-radius: 10px;
}

.card-figure:hover {
    .card-figure-infos {
        opacity: 1;
        transition: .3s;
    }
}

.card-figure-infos {
    opacity: 0;
    transition: .3s;
    display: flex;
    align-items: center;
    margin-top: 190px;
    position: absolute;
    padding: 0px 20px;
    width: 310px;
    justify-content: space-between;
}

.card-figure-infos h3 {
    color: white;
}

.card-figure-infos .icons {
    background-color: #f4f4f4;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.drawer {
    display: flex;
}

.icons i {
    color: gray;
}

.card-infos {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.card-infos h5 {
    margin: 0;
    margin-left: 5px;
}

.avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.figure-infos {
    margin-left: 110px;
}

.figure-infos i {
    color: gray;
}